<div class="container">
    <h2>Current Balance : $@TempData["Balance"]</h2>

    <form action="api/addTransaction" method="post">
        <label>New Transaction</label>
        <div class="row">
            <h2>$</h2><input class="form-control col-3" type="number" name="amount" required>
            <button class="btn btn-primary col-2">Process</button>
        </div>
    </form>

    <table class="mt-3 container">
        <tr class="row">
            <th class="col-3">Transaction</th>
            <th class="col-5">Date</th>
        </tr>

        @{
            if (@ViewBag.Transactions.Count > 0)
            {
                foreach(var transaction in @ViewBag.Transactions)
                {
                    <tr class="row">
                        <td class="col-3">@transaction.Amount</td>
                        <td class="col-5">@transaction.CreatedAt</td>
                    </tr>
                }
            } else {
                <h2>No Transaction History</h2>
            }
        }
    </table>
</div>