<h2>The Form Submission</h2>

<form action="api/submit" method="post">
    <label>First Name</label>
    <input type="text" name="firstName" class="form-controller">
    <label>Last Name</label>
    <input type="text" name="lastName" class="form-controller">
    <label>Age</label>
    <input type="number" name="age" class="form-controller">
    <label>Email</label>
    <input type="text" name="email" class="form-controller">
    <label>Password</label>
    <input type="password" name="password" class="form-controller">

    <button class="btn btn-success">Submit</button>

</form>