<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Survey</title>
    </head>
    <body>
        <form action="post/survey" method="post">
            <label>Name:</label>
            <input type="text" name="Name" placeholder="Name"><br><br>
            <label>City:</label>
            <select name="City">
                <option>Chicago</option>
                <option>New York City</option>
                <option>Other</option>
            </select><br><br>
            <label>Comments</label><br>
            <textarea name="Comments" cols="30" rows="10" placeholder="Comments"></textarea><br><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>